///////////// contenu single ///////////////////

.entry-header {
  position: relative;
}

.entry-content {
  width: 100%;
  display: block;
}

.header-single-work {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
  position: relative;
  &:before {
    content:'';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}



.entry-title {
  color: #fff;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 42%;
}

// .entry-content>p, .entry-content>h1, .entry-content>h2, .entry-content>h3, .entry-content>h4, .entry-content>h5{
//   margin: 0 auto;
//   padding: 20px 0;
// }

.entry-content>p {
  padding: 5px 0;
}

.entry-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

///shortcode/////////

.wrap-content-single {
  max-width: 1270px;
  margin: 0 auto;
}


.middle-img_txt {
  display: flex;
  max-height: 650px;
  min-height: 450px;
  &.inverse {
    flex-direction: row-reverse;
  }
}

.cover-detail {
  width: 50%;
  background-size: cover;
  background-position: center center;
}

.cover-full-img {
  height: 650px;
width: 100%;
background-size: cover;
background-position: center center;
}

.content-detail {
  width: 50%;
  padding: 90px;
}
.detail-title {
  padding-bottom: 20px;
  & h3 {
    font-size: 28px;
  }
}

.content-detail-project {
  min-height: 450px;
  padding-top: 50px;
}

.detail-txt{
  // max-width: 550px;
  & p {
    font-size: 2.2em;
    line-height: 1.7em;
    margin: 0;
    font-family: $font_title;
  }
}

.detail-txt-block {
  & p {
    font-size: 1.4em;
    line-height: 1.7em;
    margin: 0;
  }
}

.seperate {
  margin: 0 auto;
}


.full-img_txt {
  min-height: 450px;
}

.full-img_txt div {
  padding-left: 0;
  padding-right: 0;
}

.content-txt-full {
  min-height: 450px;
}

.content-txt-full h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.content-txt-full p {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.cover-left, .cover-right {
  background-size: cover;
  min-height: 450px;
}

.cover-left {
    background-position: center center;
}

////////////nav meta post

.nav-folio {
  background: $color_red;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.screen-reader-text{
  display: none;
}

.nav-links {
  display: flex;
}

.nav-previous, .nav-next {
  width: 50%;
  padding: 35px;
  position: relative;
}
.nav-previous {
  background: #fff;
}
.nav-next {
  background: $color_red;
}

.post-meta {
  font-size: 2em;
  font-weight: 900;
  position: absolute;
  left: 65px;
  top: 25%;
  padding-right: 15px;
  transition: transform 0.3s ease-in-out;
&._white {
  color: #fff;
}
&._red {
  color: $color_red;
}
&::before {
  content:'';
  position: absolute;
  width: 55px;
  height: 2px;
  left: -65px;
  top: 35px;
}
&::after {
  position: absolute;
}
}

.post-meta._white::before {
  background: #fff;
}
.post-meta._red::before {
  background: $color_red;
}

.nav-links a:hover .post-meta {
  transform: translateX(15px);
  transition: transform 0.3s ease-in-out;
}
