// Theme Information
//--------------------------------------------//
$theme_name: "portfolio_hl";
$theme_uri: "http://www.hl-developerz.com";
$theme_description: "New Portfolio 2018";
$theme_version: "1.0.0";
$theme_author: "Hugues LEGER";
$theme_author_uri: "http://www.hl-developerz.com";

$color_dark: #100c1e;
$color_black: #000;
$color_light: #bcbcbc;
$color_red: #ff5252;
$color_bluegreen: #1ce6b3;
$color_grey : #f8f8f8;
$color_grey_light : #bcbcbc;
$color_yellow: #f7ec69;

$color_primary: $color_yellow;


@import url('https://fonts.googleapis.com/css?family=Paytone+One');
$font_title: 'Paytone One', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
$font_title_section: 'Archivo Black', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
$font_light: 'Lato', sans-serif;
